


.noSelect  {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
* {margin: 0; padding: 0;}
#container {height: 100%; width:100%; font-size:0;}
#left, #middle, #right {display: inline-block; *display: inline; zoom: 1; vertical-align: top; font-size: 18px;}
#left {width: 60%; background: white;}

#right {width: 40%; background: white;}
